{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center">Add Blog a Entry</h1>
<form action="/newpost" method='post'>
    <label>
        Title for your new blog:
        <br>
        <input type="text" name='blog_title' value ="{{blog_add}}" />
        <br><span class="error">{{title_error}}</span>
        <br>
        <br>
    </label>
    <label>
        Your new blog:
        <br>
        <textarea name='blog_entry' />{{new_entry}}</textarea>
        <br><span class="error">{{entry_error}}</span>
        <br>
    </label>
    <br>
    <input type="submit" value='Add Entry' />
</form>

{% endblock %}
