{% extends "base.html" %}

{% block content %}
    <h1 style="text-align:center">Build a Blog</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <br>
            <input type="text" name='blog_title' />
            <br>
            <br>
        </label>
        <label>
            Your new blog:
            <br>
            <textarea name='blog_entry' /></textarea>
            <br>
        </label>
        <br>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <h2><a href="">{{blog.blog_title}}</a></h2>
                <form method="POST" action="/newpost">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                </form>
            <p>{{blog.blog_entry}}</p><br>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}